<div id="filterDialog"
    class="fixed z-10 inset-0 overflow-y-auto hidden"
    (click)="closeDialog($event)">
    <div class="flex items-center justify-center min-h-screen px-4 py-8 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity"
            aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full"
            (click)="$event.stopPropagation()">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                        <div class="mt-2">
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Min Volume</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.minVolume"
                                    type="number">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Max Volume</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.maxVolume"
                                    type="number">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Min Price Change (%)</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.minPriceChange"
                                    type="number"
                                    step="0.01">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Max Price Change (%)</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.maxPriceChange"
                                    type="number"
                                    step="0.01">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Min Price</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.minPrice"
                                    type="number"
                                    step="0.01">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm font-medium text-gray-700">Max Price</label>
                                <input class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                                    [(ngModel)]="filters.maxPrice"
                                    type="number"
                                    step="0.01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-zinc-50 text-surface dark:bg-neutral-700 dark:text-white text-base font-medium hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-500 sm:ml-3 sm:w-auto sm:text-sm"
                    (click)="applyFilters()">Apply</button>
                <button type="button"
                    class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-transparent text-surface dark:text-gray-500 text-base font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-500 sm:mt-0 sm:w-auto sm:text-sm"
                    (click)="resetFilters()">Reset All Filters</button>
            </div>
        </div>
    </div>
</div>